.subs_page {
  padding-left: 20px;
}

.agents_container {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 60px;
}

@media (max-width:700px) {
  .agents_container{
    grid-template-columns: repeat(1, 1fr);
  }
}