.upload_page{
    padding-left: 20px;
}

.form{
    margin-top: 20px;
}

.sixty{
    width: 60%;
}

.full{
    width: 100%;
}

.input_field{
    margin-top: 5px;
}

.input_field span{
    font-size: 0.56rem;
    margin-bottom: 5px;
    font-weight: 600;
    color: #666666;
    display: inline-block;
}

.input_field input{
    font-size: 0.56rem;
    padding: 10px ;
    border: none;
    background: #efefef;
    border-radius: 4px;
}



.form_section{margin-top: 40px;
 border-bottom: 2px solid #dfdfdf;
 padding-bottom: 20px;
}

.form_section h3{
    font-size: 0.7rem;
    margin-bottom: 15px;
}

.markdown_container{
    width: 100%;
    height:calc(100dvh - 280px);
    display: flex;
}

.markdown_container textarea{
    font-size: 0.6rem;
    /* resize: none; */
    padding: 20px;
    outline: none;
    width: 50%;
    background: #efefef;
    border: none;
    border-radius: 10px;
}


.preview{
    height: 100%;
    width: 50%;
    overflow-y: scroll;
}

.upload_page button{
    font-size: 0.6rem;
    padding: 10px 15px;
    margin-top: 30px;
    font-weight: 600;
    border: none;
    min-width: 150px;
    cursor: pointer !important;
}

.upload_page .main_button{
  color: #ffffff;
  background: #b30000;
}

.upload_page .nor_button{
  background: #dfdfdf;
}