.form{
    margin-top: 20px;
}

.sixty{
    width: 60%;
}

.full{
    width: 100%;
}

.input_field{
    margin-top: 5px;
}

.input_field span{
    font-size: 0.56rem;
    margin-bottom: 5px;
    font-weight: 600;
    color: #666666;
    display: inline-block;
}


.input_field input,
.input_field textarea{
    font-size: 0.56rem;
    padding: 10px ;
    border: none;
    background: #efefef;
    border-radius: 4px;
}

.input_field textarea{
    resize: none;
    height: 100px;
    width: 100%;
}



.form_section{margin-top: 40px;
 border-bottom: 2px solid #dfdfdf;
 padding-bottom: 20px;
}

.form_section h3{
    font-size: 0.7rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #dfdfdf;
    padding-bottom: 10px;
}

.form_section h3 button{
    margin-top: 0px;
    background: #dfdfdf;
    border-radius: 5px;
}

.markdown_container{
    width: 100%;
    height:calc(100dvh - 280px);
    display: flex;
}



.markdown_container textarea{
    font-size: 0.6rem;
    /* resize: none; */
    padding: 20px;
    outline: none;
    width: 100%;
    background: #efefef;
    border: none;
    border-radius: 10px;
}


.preview{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.upload_page button{
    font-size: 0.6rem;
    padding: 10px 15px;
    margin-top: 30px;
    font-weight: 600;
    border: none;
    min-width: 150px;
    cursor: pointer !important;
}

.upload_page .main_button{
  color: #ffffff;
  background: #b30000;
}

.upload_page .nor_button{
  background: #dfdfdf;
}

.tags_tags_tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tags_tags_tags span{
    padding: 4px 10px;
    display: flex;
    align-items: center;
    background: #efefef;
    border-radius: 5px;
    margin-right:5px;
}


.form_section h3{
    display: flex !important;
}

.tags_tags_tags span svg{
    margin-right: 5px;
    color: red;
    cursor: pointer;
}

@media (max-width:1000px) {
    .markdown_container textarea{
        font-size: 0.8rem;
    }
}

@media (max-width:700px) {
    .sixty{
        width: 100%;
    }
    
}