@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+A&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Linear A", serif;
  /* background: #ffffff; */
}

:root {
  font-size: 25px;
}

body::-webkit-scrollbar {
  width: 0px;
}

.button{
  appearance: none;
  border: none;
  cursor: pointer;
}


.page h1{
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
}

.fr{
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 1rem;
  margin-bottom: 50px;
  color: #777777;
}

.fr a{
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 1rem;
  color: #b30000;
  text-decoration: underline;
}

.input {
  padding: 15px 15px;
  border-radius: 10px;
  border: 3px solid #efefef;
  outline: none;
  width: 100%;
  font-size: 0.65rem;
}

.flex-page {
  display: flex;
}

a {
  text-decoration: none;
  color: #000000;
}

.drop_down {
  position: relative;
  min-width: 150px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    background:#ffffff;
  }

.drop_down_main_content {
  padding: 8px 10px;
  width: 100%;
  font-size: 0.7rem;
  display: inline-flex !important;
  border-bottom: 2px solid #d1d1d1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px !important;
}

.drop_down_option {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0%;
  background: #ffffff;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.drop_down_option span {
  padding: 10px;
  font-size: 0.7rem;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 0px !important;
}

.drop_down_option span:hover {
  background: #d1d1d1;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked .checkbox {
  background: #b30000;
  border: 2px solid #b30000;
}

.checked .checkbox svg {
  display: block;
  color: #ffffff;
}

.unchecked .checkbox svg {
  display: none;
}

.unchecked .checkbox {
  background: #efefef;
  border: 2px solid #dfdfdf;
}

.checkbox_container {
  margin-top: 20px;
  display: flex;
  font-weight: 600;
  color: #666666;
  align-items: flex-start;
  font-size: 0.56rem;
  cursor: pointer;
}

.checkbox_text p{
    font-size: 0.5rem;
    margin-top: 2px;
    color: #969696;
    font-weight: 600;
}

.verify_page{
  width: 100vw;
  height: 100dvh;
  background: #ffffff;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verify_text{
  margin-left: 20px;
}

.verify_text h3{
font-size: 0.8rem;
}

.verify_text p{
  font-size: 0.6rem;
  margin-top: 5px;
  color: #888888;
  font-weight: 600;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}